<div class="bg-white p-8 rounded-lg shadow-md w-96">
  <h1 class="text-6xl font-bold text-red-500">{{ section.settings.title }}
  </h1>
  <p class="text-gray-600 mt-4">{{ section.settings.describe }}</p>
  <p class="text-gray-500 mt-2">{{ section.settings.subtext }}</p>
  <div class="my-3">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a class="px-4 inline py-2 text-base" href="{{  shop_url  }}">{{ section.settings.button_label }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "bg-gray-100 h-screen flex justify-center items-center",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 heading Title"
      },
      {
        "type": "text",
        "id": "describe",
        "default": "Oops! Page not found.",
        "label": "404 describe"
      },
      {
        "type": "text",
        "id": "subtext",
        "default": "The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.",
        "label": "404 subtext"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "Back To Homepage",
        "label": "button label"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "button url"
      }
    ]
  }
{% endschema %}